In [6]:
import pandas as pd
import pandas_datareader.data as wb
import yfinance as yf
import datetime

In [10]:
symbol = 'BTC-USD'
df = yf.download(symbol,start='2018-01-01',end='2020-01-01')
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,10291200000
2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,16846600192
2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,16871900160
2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,21783199744
2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,23840899072
...,...,...,...,...,...,...
2019-12-27,7238.141113,7363.529297,7189.934082,7290.088379,7290.088379,22777360996
2019-12-28,7289.031250,7399.041016,7286.905273,7317.990234,7317.990234,21365673026
2019-12-29,7317.647461,7513.948242,7279.865234,7422.652832,7422.652832,22445257702
2019-12-30,7420.272949,7454.824219,7276.308105,7292.995117,7292.995117,22874131672
2019-12-31,7294.438965,7335.290039,7169.777832,7193.599121,7193.599121,21167946112

In [11]:
df.index.max()

Timestamp('2019-12-31 00:00:00')

In [13]:
df.index.min()

Timestamp('2018-01-01 00:00:00')

In [14]:
df['Close'].count()

730

In [15]:
df['Close'].tail(3).sum()

21909.2470703125

In [17]:
df['Close'].tail(10).mean()

7322.119775390625

In [18]:
df['Close'].median()

7358.77001953125

In [19]:
df['Close'].mode()

0    6741.75
Name: Close, dtype: float64

In [21]:
df['Close'].std()

2548.482940736477

In [22]:
df.mean()

Open         7.493119e+03
High         7.668943e+03
Low          7.286675e+03
Close        7.483773e+03
Adj Close    7.483773e+03
Volume       1.139702e+10
dtype: float64